/* important : 무한대!! - 999999점 */
/* id 선택자 - 100점 */
/* class 선택자 - 10점 */
/* 태그 선택자 - 1점 */
/* 전체 선택자 - 0점 */
/* 상속 - X */
.list li.item { color: red; }  /* .클래스 (하위)태그.클래스 클래스(10) + 태그(1) + 클래스(10) = 21점 */
.list li:hover { color: red; }  /* .클래스 (하위)태그:가상클래스 클래스(10) + 태그(1) + 클래스(10) = 21점 */
.box::before { content: "Good"; color: red; } /* .클래스::가상요소(태그) 클래스(10) + 가상요소태그(1) = 11점 */
#submit span  { color: red; }  /* 아이디 (하위)span태그 아이디(100) + 태그(1) = 101점 */
header .menu li:nth-child(2) { color: red; }  /* 태그 (하위).클래스 태그:클래스 / 태그(1) +  클래스(10) + 태그(1) + 클래스(10) = 22점 */
.h1 { color: red; } /* 태그 / 태그(1) = 101점 */
:not(.box) {color: red; }  /* :가상클래스(클래스) / 클래스(10) = 10점 */
/* not은 부정 선택자로 box라는 클래스를 부정하는것이므로 클래스 1개가 됨  */